@import '../../../common/css/mixins.scss';

.spread {
    color: #999;
    line-height: px2rem(70);
    height: px2rem(70);
    text-align: center;
    h5 {
        @include font-dpr(14px);
    }
    i {
        display: inline-block;
        width: px2rem(48);
        height: px2rem(48);
    }
}
.liner {
    position: relative;
    &::before {
        background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Firefox 3.6 - 15 */
        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* 标准的语法（必须放在最后） */
        content: '';
        display: block;
        height: px2rem(200);
        width: 100%;
        position: absolute;
        top: px2rem(-200);
        left: 0;
    }
}