@import '../../common/css/mixins.scss';
$body-bg: #f5f5f5;
$highlight-color: #6492E3;
$body-color: #333;
$border-color: #ddd;

.wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.selectTab {
    position: fixed;
    width: 100%;
    top: px2rem(145);
}
.Modal {
    top: px2rem(290);
}
.walletTab {
    top: 0;
}
.walletModal {
    top: px2rem(145);
}

.hole {
    padding-top: px2rem(293);
    height: 0;
    background-color: $body-bg;
}

.walletHole {
    padding-top: px2rem(145);
    height: 0;
    background-color: $body-bg;
}

.cardList {
    background-color: #fff;

        
}

.noCard {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    .imgWrap {
        width: px2rem(771);
        height: px2rem(650);
        background: url(./imgs/noCard.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);

        p {
            position: absolute;
            bottom: px2rem(-100);
            width: 100%;
            text-align: center;
            font-size: px2rem(54);
            color: #666;
        }
    }
}
