@import '../../../common/css/mixins.scss';
$border-color: #e9e9e9;

.header {
    height: px2rem(145);
    line-height: px2rem(145);
    text-align: center;
    position: fixed;
    -webkit-transform: translateZ(0);
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    @include font-dpr(18px);

    .back {
        position: absolute;
        left: 0;
        width: px2rem(90);
        text-align: right;
    }
}

.header + * {
    padding-top: px2rem(145);
}
