<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <!--<input type="text" v-model="val">-->
    <!--v-model绑定同一个属性，当前绑定的所有的input只能有一个被选中-->
    <!--<input type="radio" v-model="sex" value="1">男
    <input type="radio" v-model="sex" value="2">女
    <input type="radio" v-model="food" value="3">面条-->

    <input type="checkbox" v-model="hobby" value="吃饭">吃饭
    <input type="checkbox" v-model="hobby" value="睡觉">睡觉
    <input type="checkbox" v-model="hobby" value="打豆豆">打豆豆
    <input type="checkbox" v-model="hobby" value="学习">学习

</div>
<script src="node_modules/vue/dist/vue.js"></script>
<script>
    // v-model : 双向数据绑定
    // 在单选框中，被选中的那一项的value最终会给sex;v-mode绑定sex的都相互影响
    // 在多选框中，v-model绑定的一般是数组；当该项被选中时，会把该input的value值放进数组中；如果不是数组，那么该值就是true或false；true都选中，false都不选中；
    let vm = new Vue({
        el:"#app",
        data:{
            val:"中午了",
            sex:"",
            food:"面条",
            hobby:1// 默认会转布尔值；
        }
    });
</script>
</body>
</html>