{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        [
            "import",
            {
                "libraryName": "credit",
                "style": true
            }
        ]
    ]
}
